* {
  background-color: #91D9FA;
}

h1 {
  color: #5391AD;
  font-size: 3em;
  margin: auto;
  border: coral;
  background-color: #FAAAB4;
  text-align: center;
  width: 60%;
  padding: 20px;
  margin-top: 30px;
  font-family: 'Bungee Outline', cursive;
}

h2 {
  padding: 20px;
  margin: auto;
  /* margin-top: 80px; */
}

img {
  width: 300px;
  height: 400px;
  text-align: center;
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;  
}
main {
  color: #5391AD;
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center; 
}
p {
  margin: auto;
  width: 60%;
  padding: 20px;
  margin-top: 80px;
}

ul {
	list-style: inside;
}

ol {
  list-style: upper-roman;
  list-style-position: inside;
  width: 80%;
  margin: auto;
}

footer {
  color: #5391AD;
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  margin: auto;
  border: coral;
  width: 60%;
  padding: 20px;
  margin-top: 80px;
}
